page-my-ads {

#photo
{
	margin-top: 0.75cm;
	margin-left: 0.5cm;

}
.font 
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.left
{
	margin-left: 0.25cm;
	font-size: 14px;
}

#title1
{
	font-size: 16px;
}
.container
{
	margin-top: 0.25cm;
	margin-left: 0.25cm;
	background: #f2f2f2;
}

}
