/* CSSTransition */
.calShow-enter {
    opacity: 0;
}
.calShow-enter-active {
    opacity: 1;
    transition: opacity 800ms, transform 800ms;
}
.calShow-exit {
    opacity: 1;
}
.calShow-exit-active {
    opacity: 0;
    transition: opacity 800ms, transform 800ms;
}

.calendar{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    font-family: fantasy
}

.cal-blur{
    pointer-events: none;
    background-color: rgba(167, 167, 167);
    opacity: 0.4;
}

.calendar-month, .calendar-year, .all-todos{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
    font-weight: bold;
    font-family: fantasy;
    color: white;
    letter-spacing: 5px;
    background-color: #ff5e69;
    transform: scale(1);
}

.calendar-month{
    margin: 7px auto;
}

.all-todos{
    background-color: #b47dac;
}
.all-todos:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.calendar-year{
    margin-top: 30px;
}


.calendar-month:hover, .calendar-year:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.month-selection, .year-selection{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 5;
    font-weight: bold;
    background-color: white;
}

.month, .year{
    display: flex;
    flex: 1 1 15%;
    height: 80px;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    letter-spacing: 2px;
    color: black;
}

.month:hover, .year:hover{
    border: 1px solid #ff5e69;
    cursor: pointer;
}

.current{
    background-color: rgba(226, 75, 95, 0.7)
}

.week-day{
    color: white;
    height: 50px;
    width: calc(100%/7);
    font-size: 20px;
}
.week-day:not(:last-child){
    border-right: 1px solid white;
}

.days:nth-child(n+1) .calendar-day:nth-child(1), .calendar-day:nth-child(7){
    color: red;
}

.calendar-day{
    height: 70px;
    font-size: 25px;
    font-weight: bold;
    transition: transform .5s;
}

.calendar-day:hover:not(.empty){
    border: 1px solid rgb(149, 147, 255);
    cursor: pointer;
}

.calendar-day:hover:not(.empty) p{
    transform: scale(1.3);
}

.empty{
    background-color: rgb(204, 241, 255);
    opacity: 0.2;
}

.has-todo{
    background-color:#7db490;
    cursor: default;

}

.has-todo:hover{
    background-color: gray;
}

.option-container{
    display: none;
    z-index: 10;
}

.delete-todo, .view-todo{
    flex: 1 1;
    color: white;
    font-weight: normal;
    text-align: center;
    
}
.delete-todo{
    background-color: black;
}

.confirm-container{
    height: 75px;
    width: 20%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
    z-index: 1;
    text-align: center;
    border: 3px ridge #32a1ce;
    font-weight: bold;
    font-family: fantasy;
}

.yesorno-container{
    display: flex;
    margin-top: 15px;
    color: white;
}

.yes, .no{
    flex: 1 1;

}