page-car {

*
{
	border-radius: 4px;
}
.finalButton
{
margin-left: 0.4cm;
margin-right: 0.3cm;
width: 85%;
height: 6%;
}
#styled 
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


}
