page-sell {

*{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.center
{
 text-align: center;	
 border-radius: 4px;
}

.hide {
  display: none;
}

.text1
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container
{
	border: 3px dashed rgba(128,128,128, 0.3);
	height: 50%;
	width: 90%;
	margin: auto;
}

.button2
{
	width: 85%;
}

.uImage 
{
	background: url(https://cdn.pixabay.com/photo/2016/01/03/00/43/upload-1118928_960_720.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 30%;
	margin-left: 47%;
	height: 30px;
	width: 30px;
}


}


