page-contact {

.adimg
{

	margin-top: 2cm;
	margin-left: 4cm;
	left: 7px;
	right: 0px;
	top: 0px;
	bottom: 0px;
 	width: 95px;
	height: 95px;
 	background-color: rgba(169,169,169,0.5);
 	background-size: cover;
 	display: block;
 	adding: 1px;
 	border-radius: 90px;
 	opacity: 1;
}

.container 
{
	margin-top: 1 cm;
}


}
