page-total {

.text
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.image1
{
	width: 90%;
	height: 30%;
	margin-left: 0.5cm;
	margin-top: 0.5cm;
	border-radius: 10px;
}

.container
{
	background-color: #32db64;
	width: 90%;
	height: 40%;	
	margin-left: 0.5cm;
	margin-top: 0.5cm;
	border-radius: 10px;
}

.line-separator{

height:1px;
width: 90%;
margin-top: 0.25cm;
margin-left: 0.5cm;
background:#717171;
border-bottom:1px solid #313030;

}

.wrap1
{
	font-size: 18px;
	text-align: center;
	
}

.wrap2
{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	margin-top: 0.5cm;
}

.wrap3
{
	font-size: 16px;
	text-align: center;
}

.wrap4
{
	font-size: 28px;
	text-align: center;
	font-weight:bold;
}

.cont1
{
	margin-top: 0.5cm;	
}

}
