div#textLogo{
    color:#ECECEC;
    text-shadow: 1px 3px 2px #969696, 1px 13px 3px #aba8a8;
    font-weight: bold;
    font-size: 90px;
    text-align: center;
}
span#lol{
    text-shadow: -3px 12px 0px #96B6FF, -5px 12px 0px #CBDBFF;
}
div#start, .sticky{
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-color: cadetblue;
    width: 100%;
    height: 430px;
    margin: 0 auto;
    margin-top: 80px;
    padding-top: 60px;
    border-radius: 60px;
}
.sticky {
    position: fixed;
    border : none;
    top: 0;
    z-index: 10;
    margin-top: 0;
    padding-top: 0;
    height: 60px;
}
div#searchbox{
    text-align: center;
}
input#search{
    display: inline-block;
    margin-top: 100px;
    width: 720px;
    padding-top: 5px;
    -webkit-appearance: none;
    height: 70px;
    border: none;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.30);
    border-radius: 6px;
}
button#submit{
    display: inline-block;
    -webkit-appearance: none;
    text-align: center;
    margin-left: -73px;
    height: 58px;
    color: white;
    font-weight: bold;
    background-color:  rgba(0,191,255, 0.9);
    border-radius: 7px;
}
div.alert-danger{
    width: 720px;
    margin-top: 4px;
    margin: 0 auto;
}
div#err1, div#err2{
    display: none;
}

@media only screen and (min-width: 375px) and (max-width: 1024px){
    input#search{
        font-size: 10px;
        margin-top: 60px;
        width: 330px;
        height: 40px;
    }
    button#submit{
        margin-left: -68px;
        height: 33px;
        width: 65px;
        padding: 0;
    }
    div.alert-danger{
        width: 330px;
        margin-top: 4px;
    }
    div#start{
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-color: #5f9ea0;
        width: 100%;
        height: 260px;
        padding-top: 40px;
        border-radius: 10px;
    }
    div#textLogo{
        font-size: 50px;
        text-shadow: 1px 3px 2px #969696, 1px 8px 0px #aba8a8;
    }
    span#lol{
        text-shadow: -4px 6px 0px #96B6FF, -4px 6px 0px #CBDBFF;
    }
}