.comment-list {
  display: block;
  position: absolute;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.23);
  z-index: 30;
  overflow: scroll;
  width: 300px;
  max-height: 600px;
  right: 150px;
  top: 110px;
}

.title {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bolder;
  background: #22b8cf;
  color: white;
}

.titleButton {
  width: 100%;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}
.close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.commentform-wrapper {
  padding: 0.5rem;
  border-bottom: 1px solid #22b8cf;
}

.comments-wrapper {
  min-height: 5rem;
}

.nothing {
  display: none;
}
