.comment-item {
  padding: 0.5rem;
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  cursor: pointer;
  transition: all 0.15s;
  user-select: none;
}

.comment-item:hover {
  background: #e3fafc;
}

/* comment-item 에 마우스가 있을때만 .remove 보이기 */
.comment-item:hover .remove {
  opacity: 1;
}

/* comment-item 사이에 윗 테두리 */
.comment-item + .comment-item {
  border-top: 1px solid #f1f3f5;
}

.remove {
  margin-right: 1rem;
  color: #e64980;
  font-weight: 600;
  opacity: 0;
}

.comment-text {
  flex: 1; /* 체크, 엑스를 제외한 공간 다 채우기 */
  word-break: break-all;
}
