page-modelinfo {
	.heading{
		color:lightgrey;
	}
	.font{
		border-radius: 4px;
		font-family: "Helvetica";
	}

	.submit-button {
		width: 100%;
		margin-left:10px;
	}
	
	/*.item{
		text-align: center;
	}*/
}
