page-home {
    
	.title{
		text-align: center;
		font-weight: 600;
		font-size: 36px;
		margin-top: 2cm;
		line-height: 60%;
	}

	.font {
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}

	.input-1{
		color:#337ab7;
	}
	
	
	
	.login{
		width: 100%;
	}

}
