page-for {

ion-navbar{
	text-align: center;
}

.text
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.box1 
{
	margin-left: 3.5cm;
	font-weight: normal;
	font-size: 18px;
}
.table1 
{
	margin: 0 auto;
	text-align: center;
}
.heading1
{
	font-size: 12px;
	font-weight: normal;
	margin-left: 0.2cm;
	font-color: #FFFFFF;
}
.subheading1
{
	font-weight: normal;
	margin-left: 0.2cm;
	font-size: 18px;
	font-color: #FFFFFF;
}

.image1
{
	border-radius: 15px;
	height: 180px;
	width: 320px;
	margin: 0 auto;
	margin-top: 0.3cm;
	margin-left: 0.1cm;
	margin-right: 0.1cm;
	font-color: #FFFFFF;

}
.subheading2
{
	font-size: 14px;
}

.container
{
	background-color: #00BFFF;
	width: 90%;
	height: 300px;
	margin-left: 0.5cm;
	border-radius: 10px;
	margin-bottom: 0.5cm;
	line-height: 10%;
	color: #FFFFFF;
}
}
