<p>
  summoner-history
</p>
<p >
  <img src = {{info?.profileimg}}/>
  {{info?.name}}
  {{info?.summonerLevel}}
</p>
<div *ngFor = "let m of images; index as i">
<button id = {{m[m.length-1]}} (click) = "toggle(m[m.length-1], i)"><img src = {{m[0]}}/></button>
  <div class = "col-12 container" id = {{i}}>
        <ul class= "list-unstyled row">
          <li *ngFor = "let z of data(m[m.length-1]) | slice: 0 : 10; index as j" class = "list-item col-6">
            <img id = "champ" src = {{z[0]}}/>
            <div id = "spells">
              <img id = "spell1" (mouseover)="pop(z[1].description, $event)" (mouseout) = "desc = out()" src = {{z[1].spellurl}}/>
              <img id = "spell2" (mouseover)="pop(z[2].description, $event)" (mouseout) = "desc = out()" src = {{z[2].spellurl}}/>
              <div id = "desc"></div>
            </div>
          </li>
        </ul>
  </div>
  <br/>
</div>