<p>
  summoner-history
</p>
<p >
  <img src = {{info?.profileimg}}/>
  {{info?.name}}
  {{info?.summonerLevel}}
  {{sample}}
</p>
<div *ngFor = "let m of images; index as p">
  <div class  = "me">
    <button id = {{m[m.length-1]}} (click) = "toggle(m[m.length-1], p)"><img src = {{m[0]}}/></button>
    <ul class = "spells">
        <li class = "spell"><img (mouseover)="pop(p, initialhis[p][1].spellurl, initialhis[p][1].description, $event)" (mouseout) = "out()" src = {{initialhis[p][1].spellurl}}/></li>
        <li class = "spell"><img (mouseover)="pop(p, initialhis[p][2].spellurl, initialhis[p][2].description, $event)" (mouseout) = "out()" src = {{initialhis[p][2].spellurl}}/></li>
    </ul>
  </div>
  <div class = "col-12 container" id = {{p}}>
      <!--label for each column-->  
        <ul class= "history">
          <li *ngFor = "let z of data(m[m.length-1]) | slice: 0 : 10; index as j" class = "onehistory">
            <img class = "champ" src = {{z[0]}}/>
            <ul class = "spells">
                <li class = "spell"><img (mouseover)="pop(j, z[1].spellurl, z[1].description, $event)" (mouseout) = "out()" src = {{z[1].spellurl}}/></li>
                <li class = "spell"><img (mouseover)="pop(j, z[2].spellurl, z[2].description, $event)" (mouseout) = "out()" src = {{z[2].spellurl}}/></li>
            </ul>
            <div class = "items">
              <div class = "item" *ngIf = "z[3] == 'nothing'"></div>
              <img class = "item" *ngIf = "z[3] != 'nothing'" (mouseover)="pop(j, z[3].itemsrc, z[3].description, $event)" (mouseout) = "out()" src = {{z[3].itemsrc}}/>
              <div class = "item" *ngIf = "z[4] == 'nothing'"></div>
              <img class = "item" *ngIf = "z[4] != 'nothing'" (mouseover)="pop(j, z[4].itemsrc, z[4].description, $event)" (mouseout) = "out()" src = {{z[4].itemsrc}}/>
              <div class = "item" *ngIf = "z[5] == 'nothing'"></div>
              <img class = "item" *ngIf = "z[5] != 'nothing'" (mouseover)="pop(j, z[5].itemsrc, z[5].description, $event)" (mouseout) = "out()" src = {{z[5].itemsrc}}/>
              <div class = "item" *ngIf = "z[6] == 'nothing'"></div>
              <img class = "item" *ngIf = "z[6] != 'nothing'" (mouseover)="pop(j, z[6].itemsrc, z[6].description, $event)" (mouseout) = "out()" src = {{z[6].itemsrc}}/>
              <div class = "item" *ngIf = "z[7] == 'nothing'"></div>
              <img class = "item" *ngIf = "z[7] != 'nothing'" (mouseover)="pop(j, z[7].itemsrc, z[7].description, $event)" (mouseout) = "out()" src = {{z[7].itemsrc}}/>
              <div class = "item" *ngIf = "z[8] == 'nothing'"></div>
              <img class = "item" *ngIf = "z[8] != 'nothing'" (mouseover)="pop(j, z[8].itemsrc, z[8].description, $event)" (mouseout) = "out()" src = {{z[8].itemsrc}}/>
              <div class = "item" *ngIf = "z[9] == 'nothing'"></div>
              <img class = "item" *ngIf = "z[9] != 'nothing'" (mouseover)="pop(j, z[9].itemsrc, z[9].description, $event)" (mouseout) = "out()" src = {{z[9].itemsrc}}/>
            </div>
          </li>
        </ul>
  </div>
</div>