/* css for button display*/
ul.btnhistory{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	list-style-type: none;
	border: 0.5px solid grey;
	padding: 0;
	margin-bottom: 5px;
	margin: 0 auto;
}

li.btnonehistory img{
	float: left;
	display: block;
	padding: 0;
	margin: 0;
	border: none;
	height: 80px;
	width: 80px;
}
li.btnonehistory ul.spells{
	float:left;
	padding: 0;
	margin-left: 1px;
	margin-right: 1px;
}

li.btnonehistory ul.spells li.spell{
	display: block;
	padding: 0;
	height: 40px;
	width: 40px;
}
li.btnonehistory div.items{
	display: flex;
	height: 80px;
	flex-wrap: wrap;
	align-content: flex-start;
	float: left;
}
li.btnonehistory div.items .item{
	align-self: center;
}
li.btnonehistory div.items img.item{
	display: inline-block;
	padding: 0;
	height: 40px;
	width: 40px;
}
li.btnonehistory div.items div.item{
	display: inline-block;
	padding: 0;
	height: 40px;
	width: 40px;
	box-shadow: inset 0 0 8px #000000;
	background: white;
}
li.btnonehistory div#kda, div#gamemode, div#minion, div#money{
	display: -webkit-flex;
  	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 105px;
	height: 80px;
}
li.btnonehistory div#money{
	float: right;
}
li.btnonehistory div#kda p, div#gamemode p, div#minion p, div#money p{
	margin: 0 5px 0 5px;
	margin: 0;
	color: black;
}
/* after click button css */
ul.history{
	display: flex;
	height: 360px;
	flex-wrap: wrap;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li.onehistory{
	margin-bottom: 5px;
	border: 0.5px solid grey 
}
.onehistory img.champ{
	padding: 0;
	float: left;
	height: 60px;
    width: 60px;
}
li.onehistory ul.spells{
	float:left;
	padding: 0;
	margin-left: 1px;
	margin-right: 1px;
}

li.onehistory ul.spells li.spell{
	display: block;
	padding: 0;
	height: 30px;
    width: 30px;
}
li.onehistory ul.spells li.spell img{
	float: left;
	display: block;
	padding: 0;
	margin: 0;
	border: none;
}
ul.spells li.spell img{
	height: 100%;
	width: 100%;
	vertical-align: top;
}
.onehistory div.items{
	display: flex;
	height: 60px;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
}
.onehistory div.items img.item{
	display: inline-block;
	padding: 0;
	height: 30px;
    width: 30px;
}
.onehistory div.items div.item{
	display: inline-block;
	padding: 0;
	height: 30px;
    width: 30px;
	box-shadow: inset 0 0 4px #000000;
}
.item{
	vertical-align: top;
}
.onehistory div.items img.nothing, div.nothing{
	display: none;
}


div.container{
	position: relative;
	background: white;
	width: 100%;
	display: none;
	margin-top: 25px;
}
.eachgame li.btnonehistory{
	background: rgb(208, 234, 255);
}
div#content{
	margin: 0 auto;
	width: 70%;
	border-style: ridge;
	border-width: 5px;
}

.fa{
	color: rgb(46, 137, 255);
	float: right;
}
button{
	float: right;
	z-index: 30;
}
ul#columnName{
	list-style-type: none;
	padding-left: 15px;
	margin: 0;
}
ul#columnName li{
	position: relative;
	display: inline-block;
	width: 25px;
	height: 25px;
}
ul#columnName li img{
	position: absolute;
	width: 100%;
	height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	li.btnonehistory{
		margin-bottom: 3px;
	}
	li.btnonehistory img{
		height: 60px;
		width: 60px;
	}
	li.btnonehistory ul.spells li.spell{
		display: block;
		padding: 0;
		height: 30px;
		width: 30px;
	}
	ul.history{
		height: 265px;
	}
	li.onehistory{
		margin-bottom: 3px;
	}
	.onehistory img.champ{
		height: 50px;
		width: 50px;
	}
	li.onehistory ul.spells li.spell{
		height: 25px;
		width: 25px;
	}
	li.onehistory div.items{
		height: 50px;
	}
	.onehistory div.items img.item{
		height: 25px;
		width: 25px;
	}
	.onehistory div.items div.item{
		height: 25px;
		width: 25px;
		box-shadow: inset 0px 0px 4px #000000;
	}
	button{
		height: 60px;
	}
}
@media only screen and (min-width: 375px) and (max-width: 767px){
	ul.btnhistory{
		width: 100%;
	}
	li.btnonehistory{
		margin-bottom: 2px;
	}
	li.btnonehistory img{
		height: 40px;
		width: 40px;
	}
	li.btnonehistory ul.spells li.spell{
		display: block;
		padding: 0;
		height: 20px;
		width: 20px;
	}
	li.btnonehistory div.items{
		height: 40px;
	}
	li.btnonehistory div.items img.item{
		height: 20px;
		width: 20px;
	}
	li.btnonehistory div.items div.item{
		height: 20px;
		width: 20px;
	}
	li.btnonehistory div#kda, div#gamemode, div#minion, div#money{
		width: 30px;
		height: 40px;
		margin: 0 3px 0 3px;
	}
	li.btnonehistory div#kda p, div#gamemode p, div#minion p, div#money p{
		font-size: 3px;
	}
	li.onehistory{
		margin-bottom: 2px;
		width: 100%;
    	margin: 0 auto;
	}
	ul.history{
		width: 100%;
		height: 50%;
	}
	.onehistory img.champ{
		height: 30px;
		width: 30px;
	}
	li.onehistory ul.spells li.spell{
		height: 15px;
		width: 15px;
	}
	.onehistory div.items{
		height:30px;
	}
	.onehistory div.items img.item{
		height: 15px;
		width: 15px;
	}
	.onehistory div.items div.item{
		height: 15px;
		width: 15px;
		box-shadow: inset 0 0 4px #000000;
	}
	div.container{
		position: relative;
		background: white;
		width: 100%;
		display: none;
		margin: 10px 0;
	}
	div#content{
		width: 100%;
	}
	button{
		height: 40px;
		width: 15px;
		padding: 1px;
	}
}