.list-item.col-6{
	border: 1px solid black;
}
.list-item.col-6 img#champ{
	padding: 0;
	float: left;
	height: 80px;
	width: 80px;
}
.list-item.col-6 div#spells{
	display: inline;
	position: absolute;
}
.list-item.col-6 div#spells img{
	display: block;
	padding: 0;
	height: 40px;
	width: 40px;
}
button{
	padding: 0;
}
div#desc{
	position: absolute;
	display: none;
	height:auto;
	width: 150px;
	background-color: #3B3B3B;
	color: white;
	z-index: 10;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	.list-item.col-6 img#champ{
		padding: 0;
		float: left;
		height: 50px;
		width: 50px;
	}
	.list-item.col-6 div#spells img{
		display: block;
		padding: 0;
		height: 25px;
		width: 25px;
	}
	button img{
		padding: 0;
		height: 100px;
		width: 100px;
	}
}
@media only screen and (min-width: 375px) and (max-width: 767px){
	.list-item.col-6 img#champ{
		padding: 0;
		float: left;
		height: 30px;
		width: 30px;
	}
	.list-item.col-6 div#spells img{
		display: block;
		padding: 0;
		height: 15px;
		width: 15px;
	}
	button img{
		padding: 0;
		height: 50px;
		width: 50px;
	}
}
div.container{
	position: relative;
	width: 100%;
	display: none;
}