page-info {

.font{

	border-radius: 4px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.submit-button {
	width: 85%;
	margin-left: 0.7cm;
	margin-right: 0.3cm;
	}

}
