/* transition for undo description */
.undoDesc-appear {
  opacity: 0.01;
}

.undoDesc-appear.undoDesc-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.undoDesc-enter {
  opacity: 1;
}

.undoDesc-enter.undoDesc-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.undoDesc-leave {
  opacity: 1;
}

.undoDesc-leave.undoDesc-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

#undo-btn-info{
    position: absolute;
    padding: 10px;
    right: 0px;
    bottom: 100px;
    width: 35%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border-radius: 10px;
}
/* .btn-danger{
    width: 90%;
    display: block;
    margin: 5px auto;
} */
.disappear{
    display: none;
}

/* end */

.schedule-container{
    position: absolute;
    margin: 0 auto;
    margin-top: 60px;
    left: 0;
    right: 0;
    z-index: 10;
    font-weight: bold;
    background-color: white;
    width: 70%;
    font-family: fantasy;
}

.zero-top{
    top: 0;
}
.zero-bottom{
    bottom: 0;
}

.container-title{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    font-family: fantasy;
    color: white;
    letter-spacing: 5px;
    background-color: #ff5e69;
}

.btn-container{
    display: flex;
}

.clear, .done, .undo{
    flex: 1 1;
    text-align: center;
    height: 50px;
    margin: 20px 10px 20px 10px;
    background-color: #ff5e69;
    font-size: 35px;
    font-weight: bold;
    font-family: fantasy;
    color: white;
    letter-spacing: 5px;
}

.undo{
    background-color: #b47dac;
}


.clear:hover, .done:hover, .undo:hover{
    cursor: pointer
}

.todos{
    font-size: 20px;
    overflow-y:scroll;
}

.each-todo{
    word-wrap: break-word;
}

.delete{
    color: red;
    margin-left: 10px;
    margin-right: 10px;
}
.delete:hover{
    cursor: pointer;
}

.todoform{
    display: block;
    width: 50%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-group{
    justify-content: center;
}

.add{
    display: block;
    float: right;
    padding-top: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.add:hover{
    cursor: pointer;
}

hr{
    border-bottom: 2px solid
}

input::-webkit-input-placeholder {
    font-size: 20px;
    color: black;
    font-weight: bold;
}
input::-moz-placeholder {
    font-size: 20px;
    color: black;
    font-weight: bold;
}
input:-ms-input-placeholder {
    font-size: 20px;
    color: black;
    font-weight: bold;
}
input::placeholder {
    font-size: 20px;
    color: black;
    font-weight: bold;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */