page-register {

.register{
    height:100px;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.car{
    border: lightgrey 3px groove; 
    width: 250px;
    height: 150px;
     float: center;
       padding:10px
}

.ads{
    border: lightgrey 3px groove; 
    width: 250px;
     height: 150px;
     float: center;
     padding:15px;
}

.acc{
    text-align:center;
    color:#5bc0de; 
    font-family: 'Helvetica'
}

.container
{
	margin-top: 3 cm;
}
}
